* {
    margin: 0;
}

header, article, aside, nav, footer {
    padding: 20px;
}

.content {
    display: flex;
    height: 80vh;
}

header{
    background-color: aqua;
}

article {
    background-color: bisque;
    width: 50%;
}

aside {
    background-color: cadetblue;
    width: 25%;
}

nav {
    background-color: darkseagreen;
    width: 25%;
}

footer {
    background-color: beige;
}